<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planet&Lord</title>
</head>
<body>
<form th:method="POST" th:action="@{/planets/join/new}" th:object="${lordId}">
    <label for="lord">Choose a lord: </label>
    <select class="form-select">
        <option th:each="lord : ${lords}" th:value="${lord.getId()}" th:text="${lord.getName()}"></option>
    </select>
    <br>
    <div th:object="${planetId}">
        <label for="planet">Choose a planet: </label>
        <select class="form-select">
            <option th:each="planet : ${planetsWithoutLord}" th:value="${planet.getId()}" th:text="${planet.getPlanetName()}"></option>
        </select>
    </div>
    <input type="submit" value="Connect!">
</form>
</body>
</html>