<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<form action=http://localhost:8080/lords/add" target="_blank">
    <button>Create lord</button>
</form>
<br>
<form action=http://localhost:8080/planets/add" target="_blank">
    <button>Create planet</button>
</form>
<br>
<form action=http://localhost:8080/planets/add" target="_blank">
    <button>Delete some planet</button>
</form>
<br>
<a href="http://localhost:8080/lords/without">All lords-slackers</a>
<br>
<a href="http://localhost:8080/lords/youngest">Top 10 youngest lords</a>
</body>
</html>